Repository tsviz/python_demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: mysite, polls, circle-ci, docs, run-them-all

Path conditions:
  mysite: any of: mysite/.*
  polls: any of: polls/.*
  circle-ci: any of: .circleci/.*
  docs: any of: docs/.*
  run-them-all: any of: shared/.*

disabling dynamic config
  .circleci/config.yml
  .circleci/continue-config.yml
Due: circle-ci

converting from circleci to GHA
  .github/alecbuchanan/cicd_demo/.github/actions/set-build-env/action.yml
  .github/alecbuchanan/cicd_demo/.github/workflows/build-test-deploy.yml
Due: none

cleaning up directories, trigger workflow on push
  .github/actions/set_build_env.yml
  .github/workflows/build-test-deploy.yml
Due: none

triggering build
  .circleci/config.yml
Due: circle-ci

triggering polls workflow
  polls/trigger.txt
Due: polls

adding a dummy environment variable
  .github/workflows/build-test-deploy.yml
Due: none

trying out test splitting action
  .circleci/config.yml
  .circleci/continue-config.yml
Due: circle-ci

testing test splitting actions
  .github/workflows/build-test-deploy.yml
Due: none

trying a different approach to test splitting
  .github/workflows/build-test-deploy.yml
Due: none

updating requirements.txt
  requirements.txt
Due: none

reducing number of matrix nodes
  .github/workflows/build-test-deploy.yml
Due: none

specificy explicit dependency verion, adding dependency caching
  .github/workflows/build-test-deploy.yml
  requirements.txt
Due: none

specifying pip as package manager
  .github/workflows/build-test-deploy.yml
Due: none

adding build job dependency for unit tests
  .github/workflows/build-test-deploy.yml
Due: none

building and pushing docker image
  .github/workflows/build-test-deploy.yml
Due: none

CI changes
  .github/workflows/build-test-deploy.yml
Due: none

docker build and deploy changes to github cotainer registry
  .github/workflows/build-test-deploy.yml
Due: none

added permissions to push to gh registry
  .github/workflows/build-test-deploy.yml
Due: none
